<a href="https://colab.research.google.com/github/agil2002/Helmsman-camp/blob/main/Assignment_1_DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("WELCOME TO INTRODUCTION TO PYTHON")

WELCOME TO INTRODUCTION TO PYTHON

EXPLORING CALCULATIONS

In [ ]:
3+5

8

**with different functions**

In [ ]:
print(3+5)
print(6-3)
print(4*3)
print(20/4)

8
3
12

5.0

Using functions from the **input of users**

In [ ]:
input("Enter a Number ")

Enter a Number 7

'7'

In [ ]:
int(input("Enter a Number "))*8

Enter a Number 6

48

In [ ]:
print(int(input("Enter a number to add with 12 :"))+12)

Enter a number to add with 12 :4
16

**Multiple functions**

In [ ]:
print(int(input("Enter a number to add with 12 : "))+12)
print(int(input("Enter a Number to reduce 7 : "))-7)
print(int(input("Enter a number to get multiplied with 5 : "))*5)
print(int(input("Enter a number to divide with 3 : "))/3)

Enter a number to add with 12 : 6
18
Enter a Number to reduce 7 : 7
0
Enter a number to get multiplied with 5 : 9
45
Enter a number to divide with 3 : 9
3.0

USING VARIABLES FOR ARITHMETIC OPERATIONS

In [ ]:
x = int(input("Enter a number "))
print("The Entered Number is ",x)
print(x,"+ 12 = ",x+12)
print(x,"- 3 = ",x-3)
print(x,"× 3 = ",x*3)
print(x,"÷ 2 = ",x/2)

Enter a number 10
The Entered Number is  10
10 + 12 =  22
10 - 3 =  7
10 × 3 =  30
10 ÷ 2 =  5.0

**ARITHMETIC OPERATIONS WITH VARIABLES**

In [ ]:
first_number = 25
second_number = 15
print("SUM = ",first_number + second_number)
print("DIFFERENCE  = ",first_number - second_number)
print("PRODUCT = ",first_number * second_number)
print("QUOTIENT = ",first_number / second_number)

SUM =  40
DIFFERENCE  =  10
PRODUCT =  375
QUOTIENT =  1.6666666666666667

In [ ]:
print("Enter The Number To Get The Sum, Difference, Product and Quotient")
a = int(input("Enter the 1st Number : "))
b = int(input("Enter the 2nd Number : "))
print("Sum = ",a + b)
print("Difference = ",a-b)
print("Product = ",a*b)
print("Quotient = ",a/b)

Enter The Number To Get The Sum, Difference, Product and Quotient
Enter the 1st Number : 13
Enter the 2nd Number : 12
Sum =  25
Difference =  1
Product =  156
Quotient =  1.0833333333333333