<a href="https://colab.research.google.com/github/agil2002/Helmsman-camp/blob/main/Assignment%202%20-%20DAY_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

USING **IF** and **ELSE IF** FOR GRADING BASED ON INPUT FROM USER

In [ ]:
marks = int(input("Enter the marks "))

if marks >= 90 : 
  print("The grade is A")
elif marks >= 80 :
    print("The grade is B")
elif marks >= 70 :
  print("The grade is C ")
elif marks >= 60 :
  print("the grade is D ")
else :
    print("SORRY! You are failed...")

Enter the marks 45
SORRY! You are failed...

Extend the username password block to support ***OTP Verification***

In [ ]:
username = 'ARJUN'
password = 'asd*123'
OTP = '52ktu3'
name = input("Enter the UserName : ")
userPassword = input("Enter your Password : ")
if name==username :
  if userPassword == password :
    i = input("Enter your Registered Mobile Number : ")
    print("You will recieve an OTP to the Number",i )
    pin = input("Enter OTP : ")
    if pin == OTP :
      print("ACCESS GRANTED")
      print("WELCOME",username)
    else :
      print("Access Denied")
  else :
   print("Incorrect Password")
else :
  print("Incorrect Username ")

Enter the UserName : ARJUN
Enter your Password : asd*123
Enter your Registered Mobile Number : 6656444252
You will recieve an OTP to the Number 6656444252
Enter OTP : 52ktu3
ACCESS GRANTED
WELCOME ARJUN

From a list of marks Print **only Failed Marks**

In [ ]:
studentMarks ={
    "Arun" : 89,
    "Anjana" : 92,
    "Ravi" : 49,
    "Amal" : 78,
    "Akash" : 59,
    "Rose" : 80
 }

In [ ]:
for (name,marks) in studentMarks.items():
  if marks < 60 :
    print(name," has failed")

Ravi  has failed
Akash  has failed

Print **EVEN NUMBERS** between 0 to 10

In [ ]:
for i in range(0,10) :
  if i%2 == 0 :
   print(i)

0
2
4
6
8